<p>employeearray works!</p>
<table class = "table table-stripped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody *ngFor = "let emo of people">
        <tr>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.dept}}</td>
        </tr>
    </tbody>
</table>


<hr>
<h2> NG IF</h2>
<h3>Display the employee age >23</h3>
<div *ngFor="let e of people">
    <li *ngIf = "e.age > 23 && e.dept =='HR'">{{e.name}}  {{e.age}}</li>
    <li>{{e.dept}}</li>

</div>
<br>

<div class = "det" *ngFor = "let e of people">
    <div *ngIf= "e.age >23 && e.dept === 'HR'">
        <li >{{e.name}} {{e.age}}</li>
        <li>{{e.dept}}</li>
</div>

</div>